<div class="text-center" style="position:relative">
<h1 style="">Contact</h1>
<p>Welcome to our page, please if you wanto to know more about us full the form</p>
  </div>

<div class="row" style=" margin-top:30px;">
  <div class="col">
    <img src="../../assets/images/contaco.jpg" alt="contacto" style="max-width:100%" />
  </div>
  <div class="col">
    <form id="formulario" #form="ngForm" >
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" name="descripcion" class="form-control"  />
      </div>

      <button class="btn-primary btn-primary" style ="position:relative ;margin-top:15px">Send</button>
 
    </form>
  </div>
</div>


