


  <div class="text-center" style="position:relative">
    <h1 style="">Contact</h1>
    <p>Welcome to our page, please if you want to contact us full the form</p>
  </div>

  <div>
    <p style="font-size: 22px; font-weight:bold">We are junior developers from avanade in practice. As a developer i have to do a full.stck web in .NET with EF core and angular.</p>
  </div>

  <div class="row" style=" margin-top:30px;">
    <div class="col">
      <img src="../../assets/images/contaco.jpg" alt="contacto" style="max-width:100%" />
    </div>
    <div class="col">
      <form id="formulario" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" name="email" class="form-control" />
        </div>

        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control" />
        </div>

        <div class="form-group">
          <label for="numberphone">Number Phone</label>
          <input id="numberphone" name="numberphone" class="form-control" />
        </div>

        <div class="form-group">
          <label for="observation">Observation</label>
          <input id="observation" name="observation" class="form-control" />
        </div>

        <button class="btn-primary btn-primary" style="position:relative ;margin-top:15px">Send</button>

      </form>
    </div>
  </div>



